<h1 class="p-3 text-center alert-dark">ng-ReactiveForm</h1>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card card-body mt-4">
                <h3 class="text-center">SignUp Form</h3>
                <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
                    <div class="form-group">
                        <label for="username"><strong>Username <sup class="color">*</sup></strong></label>
                        <input type="text" formControlName="userName" class="form-control" id="username">
                    </div>
                    <div class="form-group">
                        <label for="email"><strong>Email <sup class="color">*</sup></strong></label>
                        <input type="text" formControlName="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="empId"><strong>EmpId <sup class="color">*</sup></strong></label>
                        <input type="text" formControlName="empId" class="form-control">
                    </div>
                    <p><strong>Gender <sup class="color">*</sup></strong></p>
                    <div class="form-group">
                        <label for="male">
                            <input type="radio" name="gender">
                            Male
                        </label>
                        <label for="female" class="ml-2">
                            <input type="radio" name="gender">
                            Female
                        </label>
                        <label for="transgender" class="ml-2">
                            <input type="radio" name="gender">
                            Transgender
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-md-6" formGroupName="currentAddress">
                            <h4 class="alert-success p-3 text-center">Current Address</h4>
                            <div class="form-group">
                                <!-- <input type="text" formControlName="country" 
                                class="form-control" placeholder="Country"> -->
                                <select class="form-control" formControlName="country">
                                    <option value="">Select Country</option>
                                    <option [value]="con.Country" *ngFor="let con of countryInfo">
                                        {{con.Country}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" formControlName="state" 
                                class="form-control" placeholder="State">
                            </div>
                            <div class="form-group">
                                <input type="text" formControlName="city" 
                                class="form-control" placeholder="City">
                            </div>
                            <div class="form-group">
                                <input type="text" formControlName="zipcode" 
                                class="form-control" placeholder="Zipcode">
                            </div>
                        </div>
                        <div class="col-md-6" formGroupName="permanentAddress">
                            <h4 class="alert-success p-3 text-center">Permanent Address</h4>
                            <div class="form-group">
                                <!-- <input type="text" formControlName="country" 
                                class="form-control" placeholder="Country"> -->
                                <select class="form-control" formControlName="country">
                                    <option value="">Select Country</option>
                                    <option [value]="con.Country" *ngFor="let con of countryInfo">
                                        {{con.Country}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" formControlName="state" 
                                class="form-control" placeholder="State">
                            </div>
                            <div class="form-group">
                                <input type="text" formControlName="city" 
                                class="form-control" placeholder="City">
                            </div>
                            <div class="form-group">
                                <input type="text" formControlName="zipcode" 
                                class="form-control" placeholder="Zipcode">
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <label for="isAddSame">
                                <input type="checkbox" formControlName="isAddSame" id="isAddSame">
                                <strong class="ml-1">permanent address is same as current address </strong>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password"><strong>Password <sup class="color">*</sup></strong></label>
                        <input type="text" class="form-control" formControlName="password" id="password">
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword"><strong>Confirm Password <sup
                                    class="color">*</sup></strong></label>
                        <input type="text" class="form-control" formControlName="confirmPassword" id="confirmPassword">
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn alert-primary btn-primary"><strong>Sign Up</strong></button>
                    </div>
                </form>
                <!-- <hr>
                {{signUpForm.value | json}} -->
            </div>
        </div>
    </div>
</div>